      *{ margin:0; padding:0; }
      
      html{ height:100%; }

      body{ 
        min-height:100%;
        font-family:arial; 
        position:relative; 
      }

      #sideToggle{ display:none; }

      #sideToggle:checked + aside{ left:0; }

      #sideToggle:checked ~ #wrap{ padding-left:310px; }

      body > aside{ 
        position:absolute; 
        top:0; bottom:0; 
        left:-290px; width:300px; 
        background:#cccccc; 
        transition:0.2s ease-out; 
        -webkit-transition:0.2s ease-out; 
      }

      .MenuHead{
        background: #333333;
        padding: 30px;
      }

      div.MenuHead p { 
        color:#FFF; 
        text-align:center; 
        font-weight:bold;
        font-size: 30px;  
      }

      .MenuElement{
        color:#333333; 
        text-align:center; 
        font-weight:bold; 
        padding:20px; 
        border-bottom-color: #DDDDDD;
        border-bottom-style: dashed;
        border-bottom-width: 1px;
        border-top-color: #DDDDDD;
        border-top-style: dashed;
        border-top-width: 1px
      }


      #wrap{ 
        margin-left:10px; 
        padding:10px; 
        transition:0.25s ease-out; 
        -webkit-transition:0.25s ease-out; 
      }


      #wrap > label{ 
        background:#333333;
        border-radius:80px;
        color: #FFF;
        cursor: pointer;
        display: block;
        font-family: Courier New;
        font-size: 30px;
        font-weight: bold;
        width: 40px;
        height: 40px;
        line-height: 35px;
        text-align: center;
        text-shadow: 0 -4px;
      }

      #wrap > label:hover{ background:#4682B4; }
      
      aside > ul > li:hover{ background:#4682B4; color: #FFF}
      
      <!--选择鼠标指针浮动在其上的元素，并设置其样式-->






      