*{ margin:0; padding:0; }
      
html{ height:100%; }

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background-color: rgb(231,231,231);
}

a {
    text-decoration: none;
    outline: none;
}

#cover-page{
	margin-top: 100px;
	margin-left: 50px;
	border-radius: 1%;
	width: 1050px;
	height:650px;
	background: #333333;
	position: absolute;
}




