---
layout: blogTemplate
---
<section id = "blog_content">        
	{% for article in site.posts %}
	<a class = "blog_reference" href = "{{ article.url }}">
	  <article class = "blog_article">
	    <header class = "article_header">
	      <h2 class = "ah">
	      	{{ article.title }}
	        <time> {{ article.date | date_to_long_string}} </time>
	      </h2>
	    </header>
	    <div class = "article_description">
	    	<p> {{ article.description}} </p>
	    </div>      
	    <footer class = "article_tag">
	    	<i class = "icon icon-tags"></i>
	    	{{ article.category}}
	    </footer>
	  </article>
	</a>
	{% endfor %}
</section>

<section id = "blog_category">

	<ul id = "tab">
		<li class = "tabin subtab">TOPIC</li>
		<li class = "subtab">TIME</li>
	</ul>

    <div id = "tab-content">
    	<div class = "category_front category_content">
    		<div id = "category_cloud">
				{% for category in site.categories %} 
	        	<div class = "category_element"> 
	        		<a href="#"> {{ category | first }} ({{ category | last | size }})</a>
	        	</div>
	            {% endfor %}
        	</div>
    	</div>
        <div class = "category_content">
        	 
        </div>
    </div>
</section>