---
layout: blogTemplate
---
<section id = "blog_content">        
	{% for article in site.posts %}
	<a class = "blog_reference" href = "{{ article.url }}">
	  <article class = "blog_article">
	    <header class = "article_header">
	      <h2 class = "ah">
	      	{{ article.title }}
	        <time> {{ article.date | date_to_long_string}} </time>
	      </h2>
	    </header>
	    <div class = "article_description">
	    	<p> {{ article.description}} </p>
	    </div>      
	    <footer class = "article_tag">
	    	<i class = "icon icon-tags"></i>
	    	{{ article.category}}
	    </footer>
	  </article>
	</a>
	{% endfor %}
</section>

<section id = "right_sider">
	<section id = "blog_category">
		<p>CATEGORY</p>
		<div id = "category_cloud">
	    	<div class = "category_element"> 
		        <a href="javascript:;" onclick="showCategory('ALL')"> all ({{ site.posts.size }})</a>
		    </div>
			{% for category in site.categories %} 
		       	<div class = "category_element"> 
		        	<a href="javascript:;" onclick="showCategory('{{ category | first }}')"> {{ category | first }} ({{ category | last | size }})</a>
		       	</div>
		    {% endfor %}
	    </div>
	</section>

	<section id = "friends_link">
	</section>
</section>