#about_content{
  float: left;
  margin-top: 120px;
  margin-bottom: 70px;
  width: 80%;
  background: rgb(255,255,255);
}

.about_article{
  color: rgb(105,105,105);
}

.about_article:hover{
  color: rgb(0,0,0);
}

.blog_description {
  text-align: left;
  font-size: 17px;
  font-weight: 100;
  line-height: 30px;
  margin: 20px 40px 10px 40px;
}

#about_left_side{
  float: left;
  width: 30%;
}

#myphoto{
  width: 100%;
  text-align: center;
  margin-left: 40px;
}

#myphoto img{
  height: 150px;
  width: 145px;
  border-radius: 100%;
}

#skill_list{
  margin: 20px 0 0 0;
  font-size: 16px;
  min-width: 300px;
}

.name{
  width: 40%;
  float: left;
  font-weight: 400;
  color: rgb(105,105,105);
  text-align: right;
  padding: 3px 5px 5px 0;
  font-family: 'Futura';
}

.progress-bar{
  width: 60%;
  float: left;
  padding: 5px 10px 5px 10px;
}

.icon-star{
  color: rgba(235,198,2,0.8);
}

.icon-star:hover{
  color: rgba(235,198,10,1);
}
.icon-star-empty{
  color: rgba(105,105,105,0.8);
}

#myintro{
  float: left;
  margin-left: 5%;
  width: 65%;
}

#disqus_thread{
  padding: 30px;
}


.skill_element{
  width: 100%;
  display: block;
  float: left;
}


#my_link{
  bottom: 100px;
  margin-left: 20px;
  font-size: 15px;
  font-family: 'Futura';
  position: fixed;
}

.link_element{
  padding: 10px;
}

.link_element .icon{
  font-size: 25px;
}

.blog_tag{
  height: 60px;
  margin: 0 40px 10px 0px;
}

 /* width >= 1280px */
@media screen and ( min-width: 1280px ){

}

    /* 960px <= width < 1280px */
@media screen and ( min-width: 1024px ) and ( max-width: 1280px){

}

@media screen and ( min-width: 961px ) and ( max-width: 1023px){


}


@media screen and (max-width: 960px){
  #myintro{
    margin-top: 20px;
    width: 100%;
  }
}
  

   