*{ margin:0; padding:0; }

html{ height:100%; }

body{ 
  min-height:100%;
  font-family: 'Helvetica', Calibri, Arial, sans-serif;
  position:relative;
  background: rgb(246,246,246);
}

.button_column {
  width: auto;
}
button{
  z-index: 90;
}
a{
  text-decoration: none;
  color: #333333;
}
#i-about{
  background-color: rgba(63,148,221, 0.7);
}

/******************** header *********************/
#pfl-header{
  height: 90px;
  width: 100%;
  background-color: rgb(21,22,27);
}

#headline{
  float: right;
  height: 100%;
  line-height: 90px;
  padding-right: 20px;
}

.navbar{
  display: inline-block;
  width: 100px;
  color: rgba(255,255,255, 0.7);
  text-decoration: none;
  text-align: center;
  font-family: Calibri;
}

.navbar:hover{
  color:rgb(255,255,255);
  font-weight: bold;
  font-size: 22px;

}

#about{
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 20px;
  border-bottom: 2px solid rgb(105,105,105);
}
#about:hover{
  font-size: 22px;
}

#logo{
  width: 160px;
  padding-left: 50px;
  padding-top: 20px;

}

/******************* footer *******************/
#pfl-footer{
  height:80px;
  line-height:80px;
  clear: both; /* clear the float*/
  color: rgba(255,255,255, 0.8);
  background-color: rgb(21,22,27);
  text-align: center;
  font-size: 13px;
  font-family: 'Futura';

}

/***************** about content *****************/

/* section: blog article */
#about_frame{
  width: 90%;
  margin: 0 auto;
  padding-top: 160px;
  padding-bottom: 50px;

}
#about_content{

  background: rgb(255,255,255);
}

.blog_article{
  height: auto;
  padding-bottom: 40px;
  background: rgb(255,255,255);
  color: rgb(105,105,105);
}


.headline{
  color: rgb(255,255,255);
  float: right;
  padding: 15px 50px 0 0;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Futura';
}



.article_header{
  width: 100%;
  height: auto;
  border-left: 6px solid rgb(128, 166, 204);
}

.ah{
  padding: 0 40px 0 20px;
  height: 70px;
  line-height: 70px;
  font-size: 24px;
  font-weight: 400;
}

time{
  float: right;
  font-size: 20px;
  font-weight: 1px;
  color: #cccccc;
  font-family: 'Futura';
}





.about_article{
  color: rgb(105,105,105);
}

.about_article:hover{
  color: rgb(0,0,0);
}

.blog_description {
  text-align: left;
  font-size: 17px;
  font-weight: 100;
  line-height: 30px;
  padding: 20px 10px 10px 10px;
}

#about_left_side{
  float: left;
  width: 40%;
}

#myphoto{
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

#myphoto img{
  height: 150px;
  width: 145px;
  border-radius: 100%;
}

#skill_list{
  padding: 20px 0 0 0;
  font-size: 16px;
  width: 100%;
  margin: 0 auto;
  min-width: 300px;
}

.name{
  width: 40%;
  float: left;
  font-weight: 400;
  color: rgb(105,105,105);
  text-align: right;
  padding: 3px 5px 5px 0;
  font-family: 'Futura';
}

.progress-bar{
  width: 60%;
  float: left;
  padding: 5px 10px 5px 10px;
}

.icon-star{
  color: rgba(235,198,2,0.8);
}

.icon-star:hover{
  color: rgba(235,198,10,1);
}
.icon-star-empty{
  color: rgba(105,105,105,0.8);
}

#myintro{
  /*float: left;*/
  /*padding-left: 50px;*/
  width: auto;
}

#disqus_thread{
  padding: 30px;
}


.skill_element{
  width: 100%;
  display: block;
  float: left;
}


#my_link{
  bottom: 100px;
  margin-left: 20px;
  font-size: 15px;
  font-family: 'Futura';
  position: fixed;
}

.link_element{
  padding: 10px;
}

.link_element .icon{
  font-size: 25px;
}

.blog_tag{
  height: 60px;
  padding: 0 40px 10px 30px;
}

/***************** about responsive desgin ********************/
@media screen and (min-width: 601px) and (max-width: 1024px){
  #about_left_side{
    float: none;
    display: block;
    width: 100%;
    padding-bottom: 50px;

  }

  #myphoto{
    width: 40%;
    display: inline-block;
  }
  #skill_list{
    width: 45%;
    display: inline-block;
  }

  #myintro{
    float: none;
    display: block;
    width: 100%;
    padding: 20px 20px 20px 20px;
  }
  .blog_tag{
    padding: 0 40px 10px 10px;
  }
}

@media only screen and (max-width: 600px){

  #about_left_side{
    float: none;
    display: block;
    width: 100%;
    padding-bottom: 50px;

  }
  #myphoto{
    width: 100%;
    margin: 0 auto;
    display: inline-block;

  }
  #skill_list{
    width: 100%;
    margin: 0 auto;
    display: inline-block;
  }

  #myintro{
    float: none;
    display: block;
    width: 100%;
    padding: 10px 10px 10px 8px;
  }
  .blog_tag{
    padding: 0 40px 10px 5px;
  }
}

/******************* responsive desgin *******************/

@media screen and (min-width: 1025px){
  #pfl-header{
    position: fixed;
    z-index: 100;
  }

  .button_column{
    display: none;
  }

}

@media screen and (min-width: 601px) and (max-width: 1024px){
  .button_column{
    display: none;
  }

  #pfl-header{
    height: 70px;
    position: fixed;
    z-index: 100;
  }

  #headline{
    line-height: 70px;
    padding-right: 15px;
  }


  .navbar{
    width: 80px;
  }

  .navbar:hover{
    font-size: 20px;
  }

  #home{
    font-size: 18px;
  }

  #home:hover{
    font-size: 20px;
  }

  #logo{
    width: 140px;
    padding-left: 50px;
    padding-top: 18px;

  }

  #about_frame{
    padding-top: 100px;
  }

}

@media only screen and (max-width: 600px){

  button {
    width: 42px;
    height: 42px;
    margin-top: 15px;
    margin-left: 10px;
    background:rgb(21,22,27);
    z-index: 150;
  }

  /* header */
  #pfl-header{
    height: 65px;
  }
  #headline{
    display: none;
  }
  #logo{
    float: right;
    padding: 10px 30px 0 0;
    width: 120px;
  }

  #pfl-footer{
    height:50px;
    line-height: 50px;
    font-size: 10px;
  }
  #about_frame{
    padding-top: 40px;
  }

}




