      *{ margin:0; padding:0; }
      
      html{ height:100%; }

      body{ 
        min-height:100%;
        font-family: 'Helvetica', Calibri, Arial, sans-serif;
        position:relative; 
        background: rgb(246,246,246);
      }

      a{
        text-decoration: none;
        color: #333333;
      }


      #blog{
        width: 100%;
      }

/* section: blog article */

    #blog_content{
      float: left;
      margin-top: 120px;
    }

    .blog_article{
      height: auto;
      margin-bottom:  50px;
      background: rgb(255,255,255);
    }
    /* title */
    .article_header{
      width: 100%;
      height: auto;
      color: rgb(105,105,105);
      border-left: 6px solid rgb(128, 166, 204);
    }

    .ah{
      padding-left: 20px;
      padding-right: 40px;
      height: 70px;
      line-height: 70px;
      font-size: 30px;
    }

    time{
        float: right;
        font-size: 20px;
        font-family: 'Futura';
        color: #cccccc;
    }

    .article_tag{
      width: 100%;
      height: 30px;
    }

    /* article content */
    .article_content {
      text-align: left;
      margin: 40px;
      color: rgb(105,105,105);
      position: relative;
    }

    .article_content h1{
      display: none;
    }
    
    .article_content h2{
      margin: 20px 0 10px 0;
    }

    .article_content a{
      color: rgb(128, 166, 204);
    }

    .article_content a:hover{
      color: rgb(27, 96, 146);
    }

    .article_content hr{
      margin-top: 10px;
      border:none;
      border-top:2px solid rgba(105,105,105,0.2);
    }

    .article_content ul{
        font-size: 16px;
        line-height: 30px;
        margin-left: 10px;
        padding: 10px;
    }
    .article_content ol{
        font-size: 16px;
        line-height: 30px;
        margin-left: 15px;
        padding: 10px;
    }

    .article_content p{
        padding-top:10px;
        padding-bottom: 10px;
        font-size: 16px;
        line-height: 30px;
    }

    .article_content pre{
        overflow: auto;
        padding-top:10px;
        padding-bottom: 10px;
        width: 100%;
        font-size: 16px;
        line-height: 30px;
    }

/* section: blog category */

    #blog_category{
      float: left;
      margin-top: 120px;
      margin-left: 50px;
      height: auto;
    }

    #tab, 
    .subtab{
      margin: 0;
      list-style: none;
    }

    .subtab{
      float:left;
      height: 30px;
      line-height: 30px;
      text-align: center;
      font-size: 16px;
      background-color: #cccccc;
      color: #fff;
      cursor: pointer;
      position: relative;
    }

    .subtab:hover{
        background-color: rgb(190, 190, 190);
    }

    .tabin{
      background-color: rgb(128, 166, 204) !important;
      color: #fff !important;
      border-bottom: 1px solid rgb(128, 166, 204);
    }

    .category_content{
      clear: both;
      color: #333333;
      background: rgb(255,255,255);
      width: 100%;
      height: 700px;
      border-top: 2px solid rgb(128, 166, 204);
      display: none;
      position: relative;
    }

    .category_front{
      display: block;
    }

    /* width >= 1280px */
    @media screen and ( min-width: 1280px ){
      #blog{
        margin-left: 10%;
      }
      #blog_content{
        width: 60%;
      }
      #blog_category{
        width: 300px;
      }
      .subtab{
        width: 300px;
      }
    }

    /* 960px <= width < 1280px */
    @media screen and ( min-width: 1024px ) and ( max-width: 1280px){
      #blog{
        margin-left: 5%;
      }
      #blog_category{
        width: 260px;
      } 
      .subtab{
        width: 260px;
      }
      #blog_content{
        width: 60%;
      }
    }

    @media screen and ( min-width: 961px ) and ( max-width: 1023px){

      #blog{
        margin-left: 3%;
      }
      #blog_category{
        width: 240px;
      } 
      .subtab{
        width: 240px;
      }
      #blog_content{
        width: 55%;
      }

    }


    @media screen and (max-width: 960px){
      #blog_category{
        display: none;
      }
      #blog_content{
        margin-left: 5%;
        width:90%;
      }
    }
  
