body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: #48a770;
	outline: none;
}

*{ margin:0; padding:0; }
      
html{ height:100%; }

a:hover, a:focus {
	color: #2c774b;
	outline: none;
}

.column {
	float: left;
	min-height: 300px;
    padding: 30px;
	position: relative;
}

button {
	border: none;
	display: block;
    width: 40px;
    height: 40px;
    border-radius:100%;
    background:#333333;
    color: #FFF;
    cursor: pointer;
    font-size: 30px;
    line-height:normal;
    font-family:inherit
    line-height: 35px;
    text-align: center;
    text-shadow: 0 -6px;
}

button:hover {
	background: #4682B4;
}

.substainColor{
    background-color: #4682B4 !important; 
    color: #FFF !important;
        
}


