*{margin: 0;padding: 0;}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotateZ(5deg);
    -moz-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }

  100% {
    -webkit-transform: rotateZ(-5deg);
    -moz-transform: rotateZ(-5deg);
    transform: rotateZ(-5deg);
  }
}

@-moz-keyframes swing {
  0% {
    -webkit-transform: rotateZ(5deg);
    -moz-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }

  100% {
    -webkit-transform: rotateZ(-5deg);
    -moz-transform: rotateZ(-5deg);
    transform: rotateZ(-5deg);
  }
}

@-ms-keyframes swing {
  0% {
    -webkit-transform: rotateZ(5deg);
    -moz-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }

  100% {
    -webkit-transform: rotateZ(-5deg);
    -moz-transform: rotateZ(-5deg);
    transform: rotateZ(-5deg);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotateZ(5deg);
    -moz-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }

  100% {
    -webkit-transform: rotateZ(-5deg);
    -moz-transform: rotateZ(-5deg);
    transform: rotateZ(-5deg);
  }
}
#starsmall {
  -webkit-animation: swing 4s infinite alternate cubic-bezier(0, 0.03, 0.515, 0.955);
  -moz-animation: swing 4s infinite alternate cubic-bezier(0, 0.03, 0.515, 0.955);
  animation: swing 4s infinite alternate cubic-bezier(0, 0.03, 0.515, 0.955);
}

#starmeddle {
  -webkit-animation: swing 3.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: swing 3.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing 3.5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}


@-webkit-keyframes paperplane {
  0% {
    -webkit-transform: translate3d(15%,0,0) rotateZ(5deg);
    -moz-transform: translate3d(15%,0,0) rotateZ(5deg);
    transform: translate3d(15%,0,0) rotateZ(5deg);
  }

  100% {
    -webkit-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    -moz-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    transform: translate3d(-15%,0,0) rotateZ(-10deg);
  }
}

@-moz-keyframes paperplane {
  0% {
    -webkit-transform: translate3d(15%,0,0) rotateZ(5deg);
    -moz-transform: translate3d(15%,0,0) rotateZ(5deg);
    transform: translate3d(15%,0,0) rotateZ(5deg);
  }

  100% {
    -webkit-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    -moz-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    transform: translate3d(-15%,0,0) rotateZ(-10deg);
  }
}

@-ms-keyframes paperplane {
  0% {
    -webkit-transform: translate3d(15%,0,0) rotateZ(5deg);
    -moz-transform: translate3d(15%,0,0) rotateZ(5deg);
    transform: translate3d(15%,0,0) rotateZ(5deg);
  }

  100% {
    -webkit-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    -moz-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    transform: translate3d(-15%,0,0) rotateZ(-10deg);
  }
}

@keyframes paperplane {
  0% {
    -webkit-transform: translate3d(15%,0,0) rotateZ(10deg);
    -moz-transform: translate3d(15%,0,0) rotateZ(10deg);
    transform: translate3d(15%,0,0) rotateZ(10deg);
  }

  100% {
    -webkit-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    -moz-transform: translate3d(-15%,0,0) rotateZ(-10deg);
    transform: translate3d(-15%,0,0) rotateZ(-10deg);
  }
}

#paperplane {
  -webkit-transform-origin: 50% 90%;
  -moz-transform-origin: 50% 90%;
  transform-origin: 50% 90%;
  -webkit-animation: paperplane 5s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: paperplane 5s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: paperplane 5s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

img{
  padding: 5%;
  width: 93%;
}

#toggle{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  right: 50%;
  bottom: 5%;
  border: none;
  background: #fff;

}

a{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  text-decoration: none;
  color: rgb(10,34,66);
  font-weight: bold;
}

#toggle:hover{
  background: rgb(252,226,0);
  cursor: pointer;
  color: #fff;
}

.icon{
  font-size: 40px;
  font-weight: bold;
}

#container{
  background: rgb(31,32,37);
}
