      *{ margin:0; padding:0; }
      
      html{ height:100%; }

      body{ 
        min-height:100%;
        font-family: 'Helvetica', Calibri, Arial, sans-serif;
        position:relative;
        background: rgb(246,246,246);
      }

      .button_column {
        width: auto;
      }
      button{
        z-index: 90;
      }
      a{
        text-decoration: none;
        color: #333333;
      }
      #i-photo{
        background-color: rgba(63,148,221, 0.7);
      }

      /******************** header *********************/
      #pfl-header{
        height: 90px;
        width: 100%;
        background-color: rgb(21,22,27);
      }

      #headline{
        float: right;
        height: 100%;
        line-height: 90px;
        padding-right: 20px;
      }

      .navbar{
        display: inline-block;
        width: 100px;
        color: rgba(255,255,255, 0.7);
        text-decoration: none;
        text-align: center;
        font-family: Calibri;
      }

      .navbar:hover{
        color:rgb(255,255,255);
        font-weight: bold;
        font-size: 22px;

      }
      #photo{
        font-weight: bold;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        font-size: 20px;
        border-bottom: 2px solid rgb(105,105,105);
      }
      #photo:hover{
        font-size: 22px;
      }

      #logo{
        width: 160px;
        padding-left: 50px;
        padding-top: 20px;

      }

      /******************* footer *******************/
      #pfl-footer{
        height:100px;
        line-height:100px;
        clear: both; /* clear the float*/
        color: rgba(255,255,255, 0.8);
        background-color: rgb(21,22,27);
        text-align: center;
        font-size: 13px;
        font-family: 'Futura';
        clear: both;

      }

      /***************** photo content *****************/


      #photo-gallery{
        padding: 170px 0 80px 0;
        width: 90%;
        height: 100%;
        margin: 0 auto;
      }

      .photos{
          width:33%;
          padding: 10px 20px 30px 20px;
      }

      /******************* responsive desgin *******************/

      @media screen and (min-width: 1025px){
        #pfl-header{
          position: fixed;
          z-index: 100;
        }

        .button_column{
          display: none;
        }

      }

      @media screen and (min-width: 601px) and (max-width: 1024px){
        .button_column{
          display: none;
        }

        #pfl-header{
          height: 70px;
          position: fixed;
          z-index: 100;
        }

        #headline{
          line-height: 70px;
          padding-right: 15px;
        }


        .navbar{
          width: 80px;
        }

        .navbar:hover{
          font-size: 20px;
        }

        #home{
          font-size: 18px;
        }

        #home:hover{
          font-size: 20px;
        }

        #logo{
          width: 140px;
          padding-left: 50px;
          padding-top: 18px;

        }

        #photo-gallery{
          padding-top: 130px;
          padding-bottom: 50px;
        }
        .photos{
          width:49%;
          padding: 10px 20px 50px 20px;
        }


      }

      @media only screen and (max-width: 600px){

        button {
          width: 42px;
          height: 42px;
          margin-top: 15px;
          margin-left: 10px;
          background:rgb(21,22,27);
          z-index: 150;
        }

        /* header */
        #pfl-header{
          height: 65px;
        }
        #headline{
          display: none;
        }
        #logo{
          float: right;
          padding: 10px 30px 0 0;
          width: 120px;
        }

        #pfl-footer{
          height:50px;
          line-height: 50px;
          font-size: 10px;
        }

        #photo-gallery{
          width: 100%;
          padding-top: 30px;
          padding-bottom: 50px;
        }

        .photos{
          width:100%;
          padding: 10px 20px 30px 20px;
        }

      }



