
body{ 
  min-height:100%;
  font-family: 'Helvetica', Calibri, Arial, sans-serif;
  position:relative;
  background: rgb(246,246,246);
}

/***************** blog list *****************/
#blog-section{
  height: 100%;
  width: 100%;
}

/* section: blog article */

#blog_content{
  width: 70%;
  padding: 120px 60px 50px 40px;
  display: inline-block;
}

.blog_article{
  height: auto;
  margin-bottom: 15px;
  background: rgb(255,255,255);
  color: rgb(105,105,105);
}


.article_header{
  width: 100%;
  border-left: 6px solid rgb(128, 166, 204);
  height: 45px;
  line-height: 45px;
}

.ah{
  padding: 0 40px 0 20px;
  font-size: 17px;
  font-weight: 400;
  display: inline-block;
}


/*.article_description {
  text-align: left;
  font-size: 17px;
  font-weight: 100;
  line-height: 30px;
  padding: 20px 40px 10px 30px;
  
}*/

/*.article_tag{
    font-size: 16px;
    padding: 5px 20px 10px 25px;
}*/
/* section: blog category */

#right_sider{
  width: 30%;
  right: 0;
  top: 130px;
  position: fixed;

}

#blog_category{
  width: 80%;
  margin: 0 auto;
  border-left: 2px solid rgb(105,105,105);
}


#blog_category p{
  font-size: 18px;
  font-weight: 400;
  margin:5px 10px 10px 20px;
  color: rgb(105,105,105);
  text-align: left;
  padding: 5px 10px 10px 10px;
  font-family: 'Futura';

}

#category_cloud{
  margin: 10px 20px 20px 30px;
  overflow: auto;
  max-height: 500px;
}

.category_element{
  width: auto;
  margin: 4px 2px 6px 2px;
  padding: 1px 6px 1px 6px;
  border-radius: 4px; 
  float: left; 
  background: rgb(128, 166, 204);

}
.category_element:hover{
  background: rgba(128, 166, 204, 0.8);
}

.category_element a{
  font-size: 12px;
  display: block;
  height: 30px;
  line-height: 30px;
  font-family: 'Futura';
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}


/******************* responsive desgin *******************/

@media screen and ( min-width: 1025px ) {

  time{
    float: right;
    line-height: auto;
    height: auto;
    padding: 0px 10px 0 10px;
    font-size: 13px;
  }
}

@media screen and ( min-width: 601px ) and ( max-width: 1024px){

  #right_sider{
    width: 100%;
    float: none;
    position: static;
    padding: 100px 40px 0 40px;
  } 
  #blog_category{
    width: 100%;
    border-left: none;
  }
  #blog_category p{
    font-size: 18px;
  }
  #category_cloud{
    margin: 0px 20px 20px 30px;
    overflow: auto;
    max-height: 500px;
  }
  .category_element a{
    font-size: 12px;
  }
  #blog_content{
    width: 100%;
    margin: 0 auto;
    padding: 30px 60px 50px 40px;
  }
  .article_header{
    border-left: 6px solid rgb(128, 166, 204);
  }
  .ah{
    padding-left: 15px;
    height: auto;
    line-height: auto;
    font-size: 17px;

  }
  time{
    float: right;
    padding: 0 10px 0 10px;
    font-size: 13px;
  }
  .article_description {
    font-size: 16px;
    line-height: 30px;
    padding: 15px 30px 10px 30px;
  }
  .article_tag{
    font-size: 16px;
    padding: 5px 20px 10px 25px;
  }
}


@media screen and (max-width: 600px){
  #right_sider{
    width: 100%;
    float: none;
    position: static;
    padding: 30px 10px 0 10px;
  } 
  #blog_category{
    width: 100%;
    font-size: 10px;
    border-left: none;
  }
  #blog_category p{
    font-size: 15px;
  }

  #category_cloud{
    margin: 0px 20px 20px 30px;
    overflow: auto;
    max-height: 500px;
  }

  .category_element a{
    font-size: 12px;
  }
  #blog-section{
    width: 100%;
  }

  #blog_content{
    width: 100%;
    padding: 20px 15px 30px 15px;
    margin: 0 auto;
  }
  .article_header{
    border-left: 3px solid rgb(128, 166, 204);
  }
  .ah{
    padding: 0px 10px 0 10px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    display: inline-block;
  }
  time{
    float: right;
    display: inline-block;
    padding: 0 10px 0 10px;
    font-size: 10px;
  }
  .article_description {
    font-size: 14px;
    line-height: 30px;
    padding: 10px 20px 10px 20px;
  }
  .article_tag{
    font-size: 13px;
    padding: 5px 20px 10px 25px;
  }

}



