<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Heidi Xiang's Blog</title>
    
    <link rel="stylesheet" type="text/css" href="stylesheets/sideBar.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/techBlog.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome-ie7.min.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css"/>

    <script src="javascripts/modernizr.custom.js"></script>
    <script src="javascripts/jquery-1.11.2.min.js"></script>
    <script src="javascripts/techBlog.js"></script>
    <script src="javascripts/sidebar.js"></script>
  </head>


  <body>
    <div id="st-container" class="st-container">
      
      <div class="st-pusher">

        <nav class="st-menu st-effect-3" id="menu-3">
          <h2 >Index</h2>

          <ul class = 'MenuList'>
                  <li class = 'MenuElement'> 
                    <a class="reference" href="index.html">
                      <i class="icon icon-home"></i> Home
                    </a>  
                  </li>

                  <li class = 'MenuElement'> 
                    <a class="reference" href="techblog.html">
                      <i class="icon icon-pencil"></i> Blog
                    </a> 
                  </li>
        
                  <li class = 'MenuElement'> 
                    <a class="reference" id = "portfolio" href="portfolio.html">
                      <i class="icon icon-lightbulb"></i> Portfolio
                    </a> 
                  </li>

                  <li class = 'MenuElement'> 
                    <a class="reference" href="#"> 
                      <i class="icon icon-plus"></i> About
                    </a> 
                      <ul class = 'SubMenu'>
                        <li id = "about"> 
                          <a href = "about.html" >
                            <i class="icon icon-user"></i> Me
                          </a>
                        </li> 
                        <li id = "resume"> 
                          <a href = "resume.pdf" target="_blank" name = "xiyun xiang's resume"> 
                            <i class="icon icon-file-alt"></i> Resume
                          </a>
                        </li> 
                      </ul>
                  </li>

              </ul>
        </nav>
        

        <div class="st-content"><!-- this is the wrapper for the content -->
          <div class="st-content-inner">

            <div id="st-trigger-effects" class="button_column">
              <button data-effect="st-effect-3"><i class="icon icon-reorder"></i></button>
            </div>

            <div id = "blog">


              <section id = "blog_content">
                {{content}}
              </section>

              <section id = "blog_category">

                <ul id = "tab">
                  <li class = "tabin subtab">TIME</li>
                  <li class = "subtab">TOPIC</li>
                </ul>

                <div id = "tab-content">
                  <div class = "category_front category_content">
                    
                  </div>
                  <div class = "category_content">
                    
                  </div>
                </div>
              </section>

            </div>

          </div><!-- /st-content-inner -->
        </div><!-- /st-content -->
      </div><!-- /st-pusher -->
    </div><!-- /st-container -->
    <script src="javascripts/classie.js"></script>
    <script src="javascripts/sidebarEffects.js"></script>
  </body>
</html>
